.button {
    border: none;
    background-color: #b0bfaf;
    color: white !important;
    font-size: 1.15rem;
    font-weight: 500;
    padding: 0.5rem .2rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transform: translate(1) translate(0, 0);
    transition: transform 225ms, box-shadow 225ms;
    text-decoration: none;
  }
  
  .button:hover {
    transform: scale(1.05) translate(0, -0.15rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
    color: #183b15;
  }
  
  .button:active {
    transform: scale(1) translate(0, 0.15rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  } 
  /* .home-button {
    background-color: #555555;
    color: rgb(26, 108, 75) !important;
  }
  .home-content-buttons button{
    color: rgb(26, 108, 75);
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    font-size: 21px;
  } */
  